@import 'styles/variables.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  ul {
    padding: 0;
    margin: 0 auto 0 auto;
    text-align: center;
  }

  p {
    padding: 0;
    margin: 0;
  }

  a {
    color: $default-link;
    text-decoration: none;

    &:hover {
      color: $default-link-hover;
    }
  }

  button {
    padding: 5px 10px 5px;
    font-size: 14px;
    background: $default-link;
    color: $default-white;

    &:hover {
      background: $default-link-hover;
    }
  }

}
