<li [ngClass]="setClasses()">
  <p>
    <input
      (change)="isCompleted(todoItem)"
      type="checkbox"
      id="todo-task"/>
    <span>{{todoItem.title}}</span>
    <button
      *ngIf="todoItem.completed"
      (click)="deleteItem(todoItem)"
      class="delete">
      Delete
    </button>
  </p>
</li>
