::ng-deep .task-list {
  li {
    padding: 10px;
    text-align: left;
    border: 1px solid #bbb;
    border-radius: 5px;
    overflow: auto;
    height: 100%;
    margin-bottom: 10px;
    background: #eee;

    span {
      display: inline-block;
      padding-left: 10px;
    }

    &.complete {
      background: rgb(142, 245, 8);

      p span {
        text-decoration: line-through;
      }
    }

    .delete {
      float: right;
    }
  }
}
